@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 1em 1em 10em;
    color: #555;
    text-align: justify;
}

h2,
h3,
strong {
  color: #333;
  line-height: 1;
}
blockquote {
    padding: 1em 1em;
    color: #333;
    background-color: rgb(204, 204, 204);
}

a {
    color: #3553da;
}

a:visited {
    color: #3a1d8b;
}