@import url('https://fonts.googleapis.com/css?family=Roboto');

#banner {
  position:relative;
}

#header-image,
#header-text {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#header-image {
  background-image: linear-gradient(#00cafc20,  #051a4167), url("header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  min-height: 220px;
}

#header-text {
  text-align: center;
  color: white;
  font-weight: 520;
  z-index: 10;
  pointer-events: none;
  position: absolute;
}

#social-media-links {
  margin: 0 auto;
  width:20%;
  pointer-events: auto;
}
#social-media-links a img {
  margin: 0 1em 0 1em;
}

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 1em 0em 30em;
    color: #555;
    text-align: justify;
}

#content {
  padding-top: 220px;
}

h2,
h3,
strong {
  color: #333;
  line-height: 1;
}
blockquote {
    padding: 1em 1em;
    color: #333;
    background-color: rgb(204, 204, 204);
}

a {
    color: #3553da;
}

a:visited {
    color: #3a1d8b;
}