@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 1em 1em 10em;
    color: #555;
    text-align: justify;
}

h1,
h2,
strong {
    color: #333;
    line-height: 1;
}

a:link{
    color: #47d;
}

a:visited{
    color: #52c;
}

blockquote {
    padding: 0.5em 2em;
    color: #333;
    background-color: #eaeaef;
}

code {
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 1px;
}

#banner-container {
    margin-bottom: 20px; 
    position:relative;
}

#banner-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#00cafc20,  #051a4167), url(Images/header.jpg);
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.image-link {
    display:block;
    width: 100%;
    height: 100%;
}

#banner-content {
    pointer-events: none;
    position: relative;
    text-align: center;
    padding: 20px;
    color:white;
}

#banner-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size:xx-large
}

#banner-subtitle {
    margin-bottom: 10px;
}

.banner-social-media-link {
    pointer-events: auto;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size:contain; 
}

#banner-twitter-link {
    background-image: url(Images/twitter.png);
    margin-right: 50px
}

#banner-github-link {
    background-image: url(Images/github.png)
}
